.grid-container{
  display: flex;
  flex-direction: column;
  @columns: 12;
  @margin_left: 5px;
  @block_margin: 4px;
  @row_padding: 5px;

  .row{
    padding-top: @row_padding;
    padding-bottom: @row_padding;
  }

  .generate_columns(@index) when (@index > 0){
    .col-@{index}{
      @temp: 100% / @columns * @index;
      width: calc(~'@{temp} - 5px');
      margin-right: -@block_margin;
      margin-left: @margin_left;
      display: inline-block;
    }
    .generate_columns(@index - 1);
  }

  .generate_columns(@columns);

  @display_options: flex, inline, inline-block;
  @display_options_num: length(@display_options);

  .generate_display(@display_options, @index) when (@index > 0){
    @name: extract(@display_options, @index);
    .d-@{name}{
      display: @name;
    }
    .generate_display(@display_options, @index - 1);
  }

  .generate_display(@display_options, @display_options_num);
}