<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UI examples</title>
    <link rel="stylesheet" type="text/css" href="../css/modal.css">
    <script src="../js/less.js"></script>
    <link rel="stylesheet/less" type="text/css" href="../less/modal.less"/>
    <link rel="stylesheet/less" type="text/css" href="../less/button.less"/>
    <link rel="stylesheet/less" type="text/css" href="../less/my-input.less"/>
    <link rel="stylesheet/less" type="text/css" href="../css/burger.css"/>
    <link rel="stylesheet/less" type="text/css" href="../css/carousel.css"/>
    <link rel="stylesheet/less" type="text/css" href="../css/table.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/079a7a16d8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<button class="show" name="m1">Let the fun begin</button>
<div class="modal sm t-1 l-2" id="m1">
    <div class="modal-heading p1">Heading</div>
    <div class="modal-main p1">Content:<br>
    Welcome, friend, this is demonstration of my modal windows
    </div>
    <div class="modal-footer p1">Footer of the first modal
        <button class="hide" name="m1">Hide this</button>
        <button class="show" name="m2">Show another</button>
    </div>
    <div class="modal md t-3 l-1" id="m2">
        <div class="modal-heading p1">I'm another one</div>
        <div class="modal-main p1">And I'm much better<br>
        Rly<br>
        Totally
        </div>
        <div class="modal-footer p1">And I also have footer with button <button class="hide" name="m2">Press me to end this</button>
            <button class="show" name="m3">Press me to open new</button>
        </div>
    </div>
    <div class="modal lg t-2 l-2" id="m3">
        <div class="modal-heading p1">Help me, I don't have content</div>
        <div class="modal-footer p1">This ugly footer is the only one I have <button class="hide" name="m3">End this</button></div>
    </div>
</div>
<nav>
    <div class="logo p1"><i class="fab fa-suse"></i> Chameleon Inc</div>
    <div class="burger p1"></div>
    <ul class="nav-menu">
        <li class="p1"><a href="#">Red</a></li>
        <li class="p1"><a href="#">Green</a></li>
        <li class="p1"><a href="#">Blue</a></li>
    </ul>
</nav>
<br>
<div>Time for carousel example</div>
<br>
<div class="carousel" id="carousel"></div>
<div id="usersTable"></div>
<div id="app" class="my-form">
    <my-input
            v-for="(q,index) in questions"
            :key="q.title"
            :type="q.type"
            :title="q.title"
            :placeholder="q.placeholder"
            :required="q.required"
            :id="'indexInput-' + index"
            :value="value"
            :pattern="q.pattern"
            :error="q.error"
            v-model="value"
            @myinput="updateVal($event)"
    />
</div>
<script src="../js/my-input.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            questions: [
                { title: "Как тебя зовут?", placeholder: "Иван", error: "Ты не Иван" },
                { title: "Сколько тебе лет?", placeholder: "15", type: "number" },
                { title: "Твой email", placeholder: "ivan@example.com", required: true,
                    pattern: /^\w+@(\w+\.)+\w+$/, error: "Введите правильный email" }
            ],
            value: ""
        },
        methods: {
            updateVal: function (val) {
                this.value = val;
            }
        }
    });
</script>
<script type="module" src="../js/burger.js"></script>
<script type="module" src="../js/caroussel.js"></script>
<script type="module" src="../js/modal.js"></script>
<script type="module" src="../js/table.js"></script>
</body>
</html>